/* style.css */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ff6200;
  color: white;
  text-align: center;
  padding: 10px;
}

nav {
  background-color: #b2954c;
  color: white;
  padding: 10px;
  flex: 1;
}

main {
  padding: 20px;
  flex: 7;
}

footer {
  background-color: #ccac37;
  color: white;
  text-align: center;
  padding: 10px;
}
 
  nav {
    grid-column: 1;
    grid-row: 2;
    width: 150px;
    padding: 20px;
  }
   